[package]
name = "spool-schemas"
version = "0.21.0-local.202602031650"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
